body {
    margin: 0 0 0 0;
    /*background-color: black;*/
    color: #FFF;
    font-family: 'AleoRegular';
}

/*Fonts*/

@font-face {
    font-family: "SourceCodeRegular";
    src: url("../fonts/SourceCodePro-Regular.otf");
}

@font-face {
    font-family: "NobileRegular";
    src: url("../fonts/Nobile-Regular.ttf");
}

@font-face {
    font-family: "AleoRegular";
    src: url("../fonts/Aleo-Regular.otf");
}

.text-center {
    text-align: center;
}

.header-container {
    /*background-color: rgb(189, 229, 245);*/
    /*background-color: rgb(53, 71, 140); /*334a94*/
    /*background: #03013a url('../images/pat.jpg') repeat scroll top left;*/
    background-color: #1a1a1a;
    /*background: #000 url('../images/header-bg.png') repeat-x scroll top left;*/
    height: 160px;
    text-align: center;
    /*display: inline-table;*/
    /*width: 100%;*/
    position: relative;
    white-space: nowrap;
    /*position: absolute;*/
    /*opacity:0.8;*/
    /*filter:alpha(opacity=80);*/
}

.header-navigation {
    padding: 0px;
    width: 700px;
    margin: 0px auto 0px auto;
    list-style: none;
    /*position: relative;*/
    /*display: inline-block;*/
    text-align: center;
}

.header-navigation li {
    display: inline-block;
    /*float: left;*/
    /*position: relative;*/
    /*padding: 0 10px 0 10px; */
}

.header-container a {
    color: #ff177c;
    text-decoration: none;
}

.header-container a:visited {
    color: #ff177c;
}

.header-container h2 {
    margin-top: 40%;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Nobile-Regular';
    color: #ff177c;
    /*font-size: 10px;*/
    /*position: absolute;*/
    /*float: left;*/
}


.header-container img {
    margin-top: 10px;
    /*position: relative;*/
    /*float: left;*/
    /*top: 5%;*/
}

.header-border {
    top: 10%;
    width: 100%;
    height: 80%;
    position: absolute;
    border-style: solid;
    border-width: thin;
    border-color: pink;
    border-left-width: 0px;
    border-right-width: 0px;
}

.intro-text {
    /*color: #f26d7d;*/
    /*color: #1a1a1a*/
    margin-top: 30px;
    /*background-color: #000;*/
}

.background-image {
    /*background-image: );*/
    /*background-repeat: repeat-y;*/
    /*background-size: 200%*/
    background: url('../images/stock/back6.jpg') top center repeat;
    /*background-attachment: fixed; */
    background-position: center;
    background-size: 120%;
    /*opacity:0.7;*/
    /*filter:alpha(opacity=70);*/
    /* For IE8 and earlier */
    overflow: hidden;
}

.background-overlay {
    top: 140px;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    min-height: 640px;
    padding: 20px;
    opacity:0.5;
    filter:alpha(opacity=50);
    z-index: 0;
}

.main-container {
    position: relative;
}

.content {
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: 40px;*/
    width: 970px;
    height: 100%;
    min-height: 640px;
}

.menu .col-45 img {
    position: absolute;
    width: 45%;
}

.menu .col-25 img {
    position: absolute;
    width: 25%;
}

.projects, .menu {
    list-style: none;
    padding: 0;
    position: relative;
    font-size: 0;
    overflow: hidden;
    text-align:center;
}

/*.projects img, .menu img {
    width: 100%;
}*/

.projects li {
    display: inline-block;
    width: 100%;
    float: left;
    margin: 10px 10px 10px 10px;
    font-size: 14px;
}

.menu > li {
    display: inline-block;
    font-size: 14px;
    margin: 20px 20px 20px 20px;
}

.menu .menu-item {
    height: 390px;
}

.menu .work-item {
    display: inline-block;
    height: 180px;
    font-size: 14px;
    margin: 20px 20px 20px 20px;
}

.menu li a {
    text-decoration: none;
}

.menu li a:visited {
    color: white;
}

.menu-title {
    /*background-color: red;*/
    height: 30%;
    position: relative;
}

.menu-title h1 {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 40px;
    color: #FFF;
    font-family: 'NobileRegular';
}

.menu-image {
    float: left;
    background-color: blue;
    height: 70%;
}

.menu-caption {
    position: absolute;
    /*background-color: #ff50cb;*/
    background-color: #1a1a1a;
    width: inherit;
    height: inherit;
    opacity:0.8;
    filter:alpha(opacity=80);
}

.menu-caption h2 {
    padding: 0px 10px 0px 10px;
    /*text-align: left;*/
    font-family: 'NobileRegular';
}

.menu-caption p {
    /*text-align: left;*/
    padding: 0px 10px 0px 10px;
}

.ghost-title {
    /*background-color: #000;*/
    background-color: #ff0062;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity:0.4;
    filter:alpha(opacity=40);
}

.caption-container {
    position: absolute;
}

.col-25 {
    width: 25%;
}

.col-3 {
    width: 30%;
}

.col-5 {
    width: 50%;
}

.col-45 {
    width: 45%;
}

.footer-container {
    background-color: #1a1a1a;
    /*background-color: #ef397f;*/
    height: 60px;
}

span.pink {
    color: #ef397f;
}

span.white {
    color: #FFF;
}

.footer-container p {
    color: #FFF;
    text-align: center;
    margin: 0px;
    padding: 20px;
}

.gradient-violet {
    background: #443388; /* Old browsers */
    background: -moz-linear-gradient(top,  #443388 0%, #883399 6%, #443388 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#443388), color-stop(6%,#883399), color-stop(99%,#443388)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #443388 0%,#883399 6%,#443388 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #443388 0%,#883399 6%,#443388 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #443388 0%,#883399 6%,#443388 99%); /* IE10+ */
    background: linear-gradient(to bottom,  #443388 0%,#883399 6%,#443388 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#443388', endColorstr='#443388',GradientType=0 ); /* IE6-9 */
}
